<div class="row">
	<div id="contacts" class="span12">
	  <div class="row">
	  	<div class="span3 offset250">
	  		<form id="contact-form">
	  			<label>nome:<input type="text" value="" name="nome" /></label>
	  			<label>email:<input type="text" value="" name="cognome" /></label>
	  			<label>testo:<textarea rows="5" value="" name="testo"></textarea></label>
	  		</form>
	  		<%= link_to image_tag('envoyer.png') %>
	  	</div>	
	  </div>
	  	<div class="span1 offset732">
	  		 <div class="row">
	  			<%= link_to image_tag('social_facebook.png') %>
	  		</div>
	  		 <div class="row">
	  			<%= link_to image_tag('social_twitter.png') %>
	  		</div>
	  		 <div class="row">
	  			<%= link_to image_tag('social_linkedin.png') %>
	  		</div>
	  	</div>
	</div> 
</div>